---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import MemoirPost from "../components/MemoirPost.astro";
const pageTitle = "My Blog";
const active = "memoirs";
const allPosts = await getCollection("memoirs");
---

<BaseLayout pageTitle={pageTitle}>
	<div
		class="container mx-auto md:grid md:grid-cols-2 md:gap-8 prose max-w-none p-12 items-center"
	>
		<article aria-labelledby="memoir-title">
			<header>
				<h1 id="memoir-title"><b>Memoir</b></h1>
				<p class="pronunciation">
					<em>/ˈmɛm.wɑːr/</em> (from French <em>mémoire</em> [me.mwaʁ],
					from Latin <em>memoria</em> "memory, remembrance")
				</p>
			</header>

			<p>
				A <strong>memoir</strong> is any nonfiction narrative writing based
				on the author's personal memories. The assertions made in the work
				are thus understood to be factual.
			</p>

			<p>
				A biography or autobiography tells the story "of a life", while
				a memoir often tells the story of a particular career, event, or
				time, such as touchstone moments and turning points in the
				author's life.
			</p>

			<p class="source">
				<a href="https://en.wikipedia.org/wiki/Memoir">
					Source: Wikipedia
				</a>
			</p>

			<p>
				<b>TLDR</b>, this will be a memoir, meaning it will focus on my
				personal events, periods, or career milestones. Everything
				written is based on my memory and is understood to be factual,
				and note that <b
					>I will try my best to include valid references if it is
					needed, instead of my own opinions.</b
				>
			</p>
		</article>
		<aside>
			<p>Memoirs written:</p>
			{
				allPosts.map((post: any) => (
					<MemoirPost
						url={`/posts/${post.id}/`}
						title={post.data.title}
						description={post.data.description}
						pubDate={post.data.pubDate.toLocaleDateString()}
					/>
				))
			}
			<!-- <p><a href="/tags/">More memoirs?</a></p> -->
		</aside>
	</div>
</BaseLayout>
