---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import MemoirPost from "../components/MemoirPost.astro";
const pageTitle = "My Blog";
const active = "memoirs";
const allPosts = await getCollection("memoirs");
---

<BaseLayout pageTitle={pageTitle}>
	<div
		class="min-h-screen md:min-h-[92vh] mx-auto md:grid md:grid-cols-2 md:gap-8 prose max-w-none p-8 md:p-12 md:py-8"
	>
		<article aria-labelledby="memoir-title">
			<header>
				<h1 id="memoir-title" class="font-stack"><b>Memoir</b></h1>
				<p class="pronunciation">
					<em>/ˈmɛm.wɑːr/</em> (from French <em>mémoire</em> [me.mwaʁ],
					from Latin <em>memoria</em> "memory, remembrance")
				</p>
			</header>

			<p>
				A <strong>memoir</strong> is any nonfiction narrative writing based
				on the author's personal memories. The assertions made in the work
				are thus understood to be factual.
			</p>

			<p>
				A biography or autobiography tells the story "of a life", while
				a memoir often tells the story of a particular career, event, or
				time, such as touchstone moments and turning points in the
				author's life.
			</p>

			<p class="source">
				<a href="https://en.wikipedia.org/wiki/Memoir">
					Source: Wikipedia
				</a>
			</p>

			<p>
				<b>TL;DR</b>: This is gonna be a memoir, which basically means
				I’m just dumping my personal moments, phases, and career stuff
				here. Everything is from my own memory (so yeah, it’s “factual”
				according to my brain). And just so you know: I’ll write
				whatever pops into my head, literally anything.
			</p>
		</article>
		<aside>
			<div>
				<p>Memoirs written so far:</p>
				<div class="pl-6">
					{
						allPosts.map((post: any) => (
							<MemoirPost
								url={`/posts/${post.id}/`}
								title={post.data.title}
								description={post.data.description}
								pubDate={post.data.pubDate.toLocaleDateString()}
								class="pl-8"
							/>
						))
					}
				</div>
			</div>
		</aside>
	</div>
</BaseLayout>
